@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --primary: #ec994b;
  --white: #ffffff;
  --bg: #f5f5f5;
}

html {
  scroll-behavior: smooth;
}

p{
  font-size: large;
  letter-spacing: .5px;
  line-height: 2rem;
}
.uniquecards{
  height: fit-content;
}




.head-cr{
  position: absolute;
  left: 3rem;
  top: 18rem;
  padding: 10px;
  color: rgb(228, 228, 228);
  width: fit-content;
}
.top-head{
  font-family: 'Rufina', serif ;
  font-size: 3.5rem;
}
.boder{
  border-bottom:  4px solid rgb(0, 100, 131);
  border-radius: 4px;
  width: 0px;
  opacity: 1;
  animation-name: yellowborder;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: .3s;
}

@keyframes yellowborder{
  0%{
     width: 0px;
  }
  
  100%
  {
    width: 100%;
  }
}
.para-cr{
  color: white;
  position: absolute;
  left: 3rem;
  top: 20rem;
  font-size: 1.5rem;
  text-align: left;
  width: 80%;
  margin-top: 4rem;
  font-family: 'Ubuntu';
}
.img-cr{
  height: 700px;
}
.crs{
  position: absolute;
  top: 10px;
  left: 12px;
  width: 100%;
  height: 770px;
  background-image:
          linear-gradient(to bottom,
            rgba(0, 0, 0, 0.518),
            rgb(0, 5, 24));
}

.embr-head{
  font-family: 'Montserrat';
  font-weight: bold;
  margin:3rem 3rem;
  font-size: 2.8rem;
  color:#201f1fb7;
}
.embr-inf{
  margin-top: 3rem;
  background-color: #ffffff;
  margin:0 3rem;
  padding: 0;
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.embr-img{
  width: 100%;
}
.space{
  padding: 5px 5px;
  margin: 1.5rem;
  font-size: larger;
  font-weight: 600;
  background-color: rgb(255, 255, 255);
  color: #35AF58;
  border-radius: 5px;
  border: 3px solid #35AF58;
  text-align: center;
}
.embr-p1{
  color:#292626b7;
  font-family: 'Montserrat';
  font-size: 1.5rem;
  line-height: 120%;
  font-weight: 400;
  word-break: 20;
  word-spacing: 0.4px;
  font-weight: 600;
  text-align:left;
  margin-left: 2.5rem !important;
  margin:1.5rem;
}
.part-3{
  margin-top: 5rem;
}
.part-3-head{
  font-family: 'Montserrat';
  font-weight: bold;
  margin: 2rem;
  font-size: 2rem;
  color:#201f1fb7;
}
.part-4{
  margin-top:6rem;
}
.part-4-head{
  font-family: 'Montserrat';
  font-weight: bold;
  margin:3rem 1rem 0.5rem;
  font-size: 2.3rem;
  color:#201c1cb7;
  text-align: center;
}
.part-4-para{
  font-family: 'Montserrat';
  font-weight: 600;
  margin:0 5rem;
  font-size: 1rem;
  color:#201f1fb7;
  text-align: center;
}
.intern{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffffff;
  margin:3rem;

  border-radius: 4px;
}
.intern-para{
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.2rem;
  text-align: left;
}
.butn{
 margin-top: 1.3rem;
  background-color: #35AF58;
  color: #ffffff;
  border-radius: 4px;
  padding: 8px 20px;
  font-weight: 500;
  font-size: 1.2rem;
  font-family: "Montserrat";
  margin-bottom: 1rem;
}
.butn a {
  color: #ffffff;
}
.butn:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.section-heading{
  font-family: 'Montserrat';
}
@media (max-width:990px) {
  .embr-head{
    font-size: 1.7rem;
  }
.embr-p1{
  padding:2.8%;
  

  font-size: 1.2rem;
  
  margin-left:0.8rem !important;
  margin-right:0.5rem !important;
  
}
.space{
  margin-left: 0;
  padding-left: 0;
}
.part-3-head{
  font-size: 1.7rem;
  text-align: left;
}
.part-4-head{
  font-size: 1.7rem;
  margin: 1.65rem;
  
  text-align: left;
}
.part-4-para{
  margin:.5rem;
  text-align: left;
}
.int-btn{
  text-align: center;
}
.space-list{
  padding-left:1rem
}
}








body {
  background: var(--bg);
}


.text-center {
  text-align: center;
}

.section-heading {
  
  color: var(--primary);
  padding: 2rem 0;
}


#tranding .tranding-slider {
  height: 34rem;
  padding: 2rem 0 6rem;
  position: relative;
}

.tranding-slide {
  width: 25rem;
  height: 22rem;
  position: relative;
}

.tranding-slide .tranding-slide-img img {
  width: 25rem;
  height: 22rem;
  border-radius: 2rem;
  object-fit: cover;
}

.tranding-slide .tranding-slide-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.tranding-slide-content .food-price {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: var(--white);
}

.tranding-slide-content .tranding-slide-content-bottom {
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  color: var(--white);
}

.food-rating {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
}

.rating ion-icon {
  color: var(--primary);
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.tranding-slider-control {
  position: relative;
  bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tranding-slider-control .slider-arrow {
  background: var(--white);
  margin-top: 10px;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}
.tranding-slider-control .swiper-button-next {
  right: 30% !important;
}
.tranding-slider-control .swiper-button-prev {
  left: 30%;
}

.tranding-slider-control .slider-arrow ion-icon {
  
  color: #222224;
}

.tranding-slider-control .slider-arrow::after {
  content: '';
}

.tranding-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 1rem;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}


@media (max-width:500px) {
  #tranding .tranding-slider {
    height: 28rem;
  }
  .tranding-slide {
    width: 18rem;
    height: 18rem;
  }
  .tranding-slide .tranding-slide-img img {
    width: 18rem;
    height: 18rem;
  }
}



/* responsive */

@media (min-width:990px) {
  .img-cr{
      width: 100%;
  }
}
@media (max-width:990px) {
  .img-cr{
      height: 300px;
      width: 100%;
  }
  .crs{
      margin-top: 80px;
      height: 310px;
  }
  .head-cr{
      top: 5rem;
  }
  .top-head{
    font-size: 2.5rem;
    margin: 0;
  }
  .para-cr{
      top: 5rem;
      font-size: 1.3rem;
      line-height: normal;
  }
}
@media (max-width:360px){
  .crs{
    margin-top: 60px;
  }
}





