.head-ino {
    position: absolute;
    left: 3rem;
    top: 18rem;
    padding: 10px;
    color: rgb(228, 228, 228);
    font-size: auto;
    font-family: 'Rufina', serif;
    width: 50% !important;
}

.line {
    position: absolute;
    top: 20rem;
    color: rgba(0, 160, 45, 0.712);
    width: 80% !important;
}

.para-ino {
    color: white;
    position: absolute;
    left: 3rem;
    top: 20rem;
    font-size: auto;
    text-align: left;
    width: 80% !important;
    margin-top: 50px !important;
    /* font-family: 'Ubuntu'; */
}

.img-ino {
    height: 660px;
    width: 100%;
}

.inov {
    position: absolute;
    top: 0;
    left: 12px;
    width: 100%;
    height: 100%;
    background-image:
        linear-gradient(to bottom,
            rgba(0, 56, 8, 0.247),
            rgb(0, 0, 0));
}

.ino-hd {
    font-family: 'Rufina', serif;
    text-align: center;
    font-size: 3rem;
    margin: 5rem 0 3rem;
}

.ino-para {
    text-align: left;
    margin-left: 2rem !important;
    margin-top: 2rem !important;
    margin-right: 2rem !important;
    margin-bottom: 0rem !important;
    font-size: 20px;
    line-height: 35px;
    /* font-family: 'Ubuntu'; */
    word-spacing: 4px;
}
.ino-para1 {
    background-color: #f3f4f6;
    text-align: left;
    padding-left: 2rem !important;
    margin-top: 0rem !important;
    padding-right: 2rem !important;
    padding-bottom: 2rem !important;
    font-size: 20px;
    line-height: 35px;
    /* font-family: 'Ubuntu'; */
    word-spacing: 4px;
}

.li-1 {
    padding: 2rem 2rem 0rem 5rem !important;
    /* font-family: 'Ubuntu'; */
    font-weight: 600;
    line-height: 35px;
    word-spacing: 7px;
    color: rgb(82, 81, 81)
}

.li-2 {
    padding: 2rem 5rem 2rem !important;
    /* font-family: 'Ubuntu'; */
    font-weight: 600;
    line-height: 35px;
    word-spacing: 7px;
    color: rgb(82, 81, 81)
}

.back{
    background-color:#f3f4f6;
    
}
#ourmission{
    background-color:#f3f4f6;
}
.uniquecards {
    width: 18em;
    height: 25em;
    border-radius: 4px;
    box-shadow: 0 15px 35px rgba(50, 50, 90, .1), 0 5px 15px rgba(0, 0, 0, .07);
    transition: .6s ease;
    background: white;
    text-align: center;
    margin: 5rem 2rem 2rem;

}

.uniquecards__img {
    height: 150px;
}




.mission {
    background: #4779dcab;
}

.qc-line {
    font-family: 'monserrat', serif;
}

.fire {
    filter: brightness(0.5);
}




/* responsive */

@media (min-width:994px) {
    .inov {
        height: 760px;

    }

    .img-qc {
        width: 100%;
    }
}

@media (max-width:993px) {
    .img-ino {
        height: 20rem;
        width: 100%;
    }

    .inov {
        margin-top: 100px !important;
        height: 20rem;
    }

    .head-ino {
        top: 3rem;
    }

    .line {
        top: 5rem;
    }

    .para-ino {
        top: 5rem;
    }

    .ino-hd {
        margin: 1rem 1rem 0 1rem;
    }

    .ino-para {
        margin: 0 0 50px;
        text-align: justify;
    }

    .li-1,
    .li-2 {
        margin: 10px;
        padding: 0 30px 0px 10px !important;
    }

    .list-itms {
        padding: 5px 0 5px;
    }

    #ourmission {
        display: none;
    }
}

@media (max-width:400px) {
    .line {
        display: none;
    }
}