@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
*{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    text-decoration: none;
    list-style:none;
    box-sizing:border-box;    
}

html{
    scroll-behavior:smooth;
}
body{
    overflow-x: hidden;
}

/* NAVBAR */
.navbar-brand{
    margin-right: auto !important;
}
.navbar{
    padding: 0 !important;
    background-color: #ffffff;
}
.navbar-nav{
    margin-left: auto;
    border-radius: 10px;
}
.collapse{
    margin-top: 20px !important;
}
.contact{
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 0;
    height: 30px;
    font-size: small;
    color: #000000;
    text-decoration: none;
}
.contact-ico{
    margin: 10px;
    height: 25px;
}
.phone{
    position: absolute;
    top: 0;
    right: 250px;
}
.mail{
    position: absolute;
    top: 0;
    right: 10px;
}
.logo{
    height: 70px;
    width: 227px;
    background-color: white;
    border-radius: 10px;
}
.logo:hover{
    background-color: rgb(236, 255, 235);
    border-radius: 10px;
}
.nav-item{
    border-radius: 10px;
    letter-spacing: 0.5px;
    margin: 0 50px 0 50px;
}
.nav-item:hover{
    border-radius: 10px;
}
/* .nav-item a:after { 
    content: ''; 
    position: absolute; 
    width: 0; 
    transform: scaleX(0); 
    height: 3px; 
    bottom: -10px; 
    left: 0; 
    background-color:#00ff26; 
    transform-origin: right; 
    transition: 0.3s ease-out; 
  } 
   
  .nav-item a:hover:after { 
      width: 100%; 
    transform: scaleX(1); 
    transform-origin:  left; 
  } */
.navbar-toggler{
    margin: 3% 0 0 2%;
    background-color: rgb(255, 255, 255) !important;
}
.navbar-toggler:hover{
    background-color: #35AF58 !important;
}
 .dropdown-menu{
    background-color: #ffffff !important;
    border: none !important;
} 
.dropdown-item{
    text-align: center !important;
    color: rgba(51, 49, 49, 0.853)!important;
    background-color: #ffffff !important;
    border-radius: 10px !important;
    letter-spacing: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 40px;
}
.dropdown-item:hover{
    color: #35AF58 !important;
    border-radius: 10px;
}
.dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }
.nav-link{
    padding: 0 !important;
    text-align: center;
    font-weight: 500 !important;
    border-radius: 10px;
    color: rgb(45, 45, 45) !important;
}
.nav-link:hover  {
    color: #35AF58 !important;
}

.contact-menu{
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}
.mobile-ico {
    padding-bottom: 1rem;
}











/* mid section */
/* section 1 */
:root {
    --tree: #35AF58; /* Declare a CSS variable named --main-color and set it to the desired color */
  }
  

.sec-1{
    height: 94vh;
    /* padding-top: 50px; */
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    object-position: top;
    

}
h1{
    font-family: 'museo sans 500';
    /* font-size: 2.6rem; */
    /* border-bottom:  2px solid yellow; */
    margin-bottom: 0px;
    /* font-size: 4.5rem; */
    
    
}
#posterheading{
    font-size: 4.5rem;
}
.banner_para{
    margin-top: 10px;
    font-size: 24px;
   
    
}
.boder{
    border-bottom:  4px solid yellow;
    border-radius: 4px;
    width: 0px;
    opacity: 1;
    animation-name: yellowborder;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}
/* 
@keyframes yellowborder{
    0%{
       width: 0px;
    }
    
    100%
    {
      width: 475px;
    }
} */
/* .customerimg{
    height: 100%;
    width: 100%;
    filter: grayscale(50%) brightness(50%);
    object-fit: cover;
    object-position: top;
} */


@media (max-width : 745px) {
    #posterheading {
        font-size: 2.5rem;
    }
    .customsec-1 {
    position: absolute;
    display: block;
    opacity: 0;
    color: white;
    animation-name: scroll;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    z-index: 3;
    }
    
@keyframes scroll {
    0% {
        top: 250px;
        left: 50px;
        opacity: 0;

    }

    50% {
        top: 250px;
        left: 50px;
        opacity: 0;

    }


    100% {
        top: 200px;
        left: 50px;
        opacity: 1;
    }
}  

}

@media (min-width : 745px) {
    #posterheading {
        font-size: 3.5rem;
    }
    
    .customsec-1 {
    position: absolute;
    display: block;
    opacity: 0;
    color: white;
    animation-name: scroll;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    z-index: 3;
    }
    
@keyframes scroll {
    0% {
        top: 250px;
        left: 50px;
        opacity: 0;

    }

    50% {
        top: 250px;
        left: 50px;
        opacity: 0;

    }


    100% {
        top: 200px;
        left: 50px;
        opacity: 1;
    }
}
}




@keyframes yellowborder {
    0% {
        width: 0px;
    }

    100% {
        width: 72%;
    }
}


/* section 2 */
.coverage{
    /* border: 2px solid red; */
    height: fit-content;
    width: 80%;
    margin: auto;
}

@media (max-width : 595px) {
    .banner_para{
        margin-top: 10px;
        font-size: 17px;
       
        
    }
}
@media (max-width : 320px) {
    
    .coverage{
        width: 100%;
    }
    .cards{
        gap: 60px;
    }
    #card1{
        width: 248px !important;
        height: 98%;
    }
    #card2{
        width: 248px !important;
        height: 98%;
    }
    #card3{
        width: 248px !important;
        height: 98%;
    }

    
}
.events{
    /* border: 2px solid black; */
    /* height:fit-content; */
    margin-top: 5%;
    margin-bottom: 5%;
    /* width: auto; */
    margin: 1%;

}
.fewwords{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.brand_coverage{
    
    font-family: 'Texturina', serif;
    line-height: .6rem;
    font-size: 34px;
    font-weight: 300px;
    padding-top: 20px;
    padding-bottom: 30px;
   
    letter-spacing: 0.03em;

}
.cards{
    height: 80%;
    /* border: 2px solid maroon; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: #fafafa;
    padding-top: 4%;
    padding-bottom: 4%;


}
.card_img{
    height: 100%;
    width: 100%;
    padding-bottom: 10px;
}
.summary-title-link{
    text-decoration: none;
    color: rgb(128 191 115);
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 1.44rem;
    line-height: 0.3rem;
   
    
}
.para{
    font-size: 14px;
    line-height: 1.4em;
    margin: 0px 0 5px 0;
    text-align: left;
    color: white;
}
.greenboder{
    border: 4px solid green;
    width: 47%;
    border-radius: 5px;
}

#card1{
    height: 98%;
    width: 200px;
    
    
}
#card2{
    height: 98%;
    width: 200px;   
}
#card3{
    height: 98%;
    width: 200px;   
}
.interview{
    /* border: 2px solid black; */
    height: fit-content;
    width: auto;
    margin: 1%;  
    display: flex;
    flex-direction: column;    
}
.fewwords{
    background-color: #656594;  
}
.white{
    color: white;
}
@media (min-width:768px){
    .page1{
        height: 100%;
        /* border: 2px solid black; */
        background-color: #fdfdfd;
        display: grid;
        grid-template-columns: 20% 20% 20% 35% ;
        grid-template-rows: 15%  15% 15% 10% 40%;
        gap: 10px;
        justify-content: center;
        overflow: auto;
        padding-bottom: 5%;
        margin-bottom: 1%;  
        margin-top: 10px; 
    }

}

.box{
    /* border: 2px solid black; */
    /* background-color: maroon;     */
    color: white;
}
@media (max-width: 768px) {
     .page1{
        height: 100%;
        /* border: 2px solid black; */
        background-color: #fafafa;
        display: flex;
        /* grid-template-columns: 90%  ;
        grid-template-rows: 10%  10% 10% 10% 10% 10% 10% 10% 10%; */
        gap: 10px;
        flex-direction: column;
        justify-content: center;
        overflow: auto;
        padding-bottom: 5%;
        margin-bottom: 1%;   
     }
     .box1_img_txt h2{
        transform: translateY(-21px);
        font-size: 1rem;
        
     }
     .sidebox{
        margin: auto !important;
     }
     .coverage{
        width: 90%;
     }
     .interview{
        width: 100%;
     }
     #box6{
        margin: auto;
        width: 88%;
        transform: translateX(0%) !important;
        
     }
     #box7{
        margin: auto;
        width: 88%;
        transform: translateX(0%) !important;

     }
     #box8{
        margin: auto;
        width: 88%;
        transform: translateX(0%) !important;

     }
     #box9{
        margin: auto;
        width: 88% !important;
        transform: translateX(0%) !important;

     }
     .info{
        transform: translateX(-21px);
   
    padding-left: 0px;

     }
     #menu-items1{
        border-left: none !important;
     }
  }

#box1{
    grid-area: 1/1/4/4;
    position: relative;
    
}

.box1_img_fit{
    height: 100%;
    width: 100%;  
    object-fit: cover;
    overflow: hidden; 
    filter: brightness(70%);
    
  
   
}
.box1_img_txt{
    position: absolute;
    left: 4%;
    top: 80%;
    color: white;   
    opacity: 0.8;
    font-family: 'Raleway', sans-serif;

       
}
#box2{
    grid-area: 4/1/5/5;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #35AF58;
    font-weight: 700;
}
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.card {
    height: 100%;
    display: flex !important;
    margin-right: 10px;
    flex-direction: row !important;
    align-items: center;
  
    margin-bottom: 1rem;

    overflow: hidden;
    background-color: #fff;
  }
  @media (max-width: 320px) {
    .sidebox{
        margin: 0px 10px !important;
    }
    .shadow{
        width: 100% !important;
       
    }
  }
  
  .card div:first-child {
    flex-basis: 35%;
  }
  
  .card div:last-child {
    flex-basis: 65%;
    padding: 0 0.5rem 0.25rem;
  }
  
  .card img {
    display: block;
    width: 100%;
    height: 130px;
    object-fit: cover;
  }
  .sidebox{
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
    font-size: 1rem;
    color: #fdfdfd;
    margin: 0;
    /* background-color: #efe9e9; */
  }
  
  .card p {
    margin-top: 0.5rem;
    margin-bottom: 0.35rem;
  }
  
  .shadow {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }
  /* ........................css for top stories card.......................... */
  
  #box6{
    transform: translateX(25%);
    position: relative;
  }
  #fig_img{
    height: 100%;
    width: 100%;
    /* position: relative; */
    overflow: hidden;
  }

  #fig_img img{
    width: 100%;
    height:auto;
    display: block;
    transform: scale(1.4);
    object-fit: cover;
    overflow: hidden;
    filter: grayscale(20%);
    /* position: relative; */
    object-position: bottom;   
}
figcaption{
    position: absolute;
    bottom: 0;
    z-index: 1;
    padding: 0px 20px ;
}
.top_box figcaption:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #700877;
    content: '';
    background: -moz-linear-gradient(90deg, #C94B4B 0%, #BD3E4B 25%, #B2314C 50%, #A5244D 75%, #99174E 100%);
    background: -webkit-linear-gradient(90deg, #C94B4B 0%, #BD3E4B 25%, #B2314C 50%, #A5244D 75%, #99174E 100%);
    background: linear-gradient(90deg, #C94B4B 0%, #BD3E4B 25%, #B2314C 50%, #A5244D 75%, #99174E 100%);
    opacity: 0.8;
    z-index: -1;
}


  


#Date {
    background-color: #fff;
    border-radius: 50%;
    color: #1a6905;
    font-size: 18px;
    font-weight: 700;
    min-height: 48px;
    min-width: 48px;
    padding: 10px 0;
    position: absolute;
    right: 15px;
    text-align: center;
    text-transform: uppercase;
    top: -25px;
  }
  
 .top_box .date span {
    display: block;
    line-height: 14px;
  } 
  
.top_box .date .month {
    font-size: 11px;
  }
  
.top_box h3,
.top_box p {
    margin: 0;
    padding: 0;
  }
  
.top_box h4 {
    display: inline-block;
    font-weight: 700;
    letter-spacing: -0.4px;
    margin-bottom: 5px;
  }
  
.top_box p {
    font-size: 0.8em;
    line-height: 1.6em;
    margin-bottom: 0px;
  }
  #box6:hover img,
#box6.hover img {
  -webkit-transform: scale(1.6);
  transform: scale(1.6);
}
 #box6 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  #box7:hover img,
#box7.hover img {
  -webkit-transform: scale(1.6);
  transform: scale(1.6);
}
 #box7 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  #box8:hover img,
#box8.hover img {
  -webkit-transform: scale(1.6);
  transform: scale(1.6);
}
 #box8 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  #box9:hover img,
#box9.hover img {
  -webkit-transform: scale(1.6);
  transform: scale(1.6);
}
 #box9 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  
.top_box a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
  }
  
  #box7{
    transform: translateX(35%);
}
#box8{
  transform: translateX(45%);
}
#box9{
    width: 57%;
    transform: translateX(55%);     
}  































/* FOOTER SECTION */

.site-footer {
    background-color: #35AF58;
    padding: 10px 0;
    overflow: hidden;
}

.container1 {
    display: flex;
    justify-content: center;
    font-size: 15px;
    line-height: 30px;
    margin-top: 10px;
    padding: 40px 100px;
}

.menu-items {
    margin: auto;
    padding: 20px 10px;
}

.menu-items h6 {
    color: white;
    font-size: 30px;
}

.menu-items a {
    color: #f8f8ff;
    text-decoration: none;
}

.menu-items a:hover {
    color: #fff;
    opacity: 4;
}

.footer-links {
    padding-left: 0;
    list-style: none;
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #fff;
    font-size: 20px;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #DCDCDC;
    text-decoration: none;
}

.career-head {
    padding-top: 18px;
}

.media-head {
    padding-top: 18px;
}

#product1 {
    transform: translateY(-28px);
}

#innovation-head {
    transform: translateY(-19px);
}

.Reachus-head {
    padding-top: 19px;
}

input {
    padding: 10px 12px;
    width: 250px;
    height: 48px;
}

.menu-items button {
    position: absolute;
    background: white;
    padding: 9px;
}

#menu-items1 {
    border-left: 1px solid #DCDCDC;
    padding-left: 55px;
    display: block;
}

.fot-link,
.fot-elem {
    margin: 1em;
    text-decoration: none;
    color: #ffffff;
}

.fot-link {
    padding-left: 2em;
    border-left: 2px solid white;
}

.fot-link:hover {
    text-decoration: underline;
}

.info {
    position: relative;
    margin: 36px 0;
}

.info li {
    position: relative;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}

.info li span:nth-child(1) {
    width: 30px;
    min-width: 30px;
}

.info li span:nth-child(2) {
    color: #fff;
    margin-left: 10px;
    font-weight: 500;
}

.info li span img {
    max-width: 100%;
    filter: invert(1);
}

.social-links {
    display: flex;
    margin-top: 50px;
}

.social-links a {
    width: 50px;
    height: 60px;
}

.ft-ico:hover {
    filter: opacity(0.5);
}



/* FOOTER */
.footer {
    background-color: #13762d;
    padding: 5px;
    text-align: center;
}

.fot-link,
.fot-elem {
    margin: 1em;
    text-decoration: none;
    color: #ffffff;
}

.fot-link {
    padding-left: 2em;
    border-left: 2px solid white;
}

.fot-link:hover {
    text-decoration: underline;
}

.info {
    position: relative;
    margin: 20px 0;
}

.info li {
    position: relative;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}

.info li span:nth-child(1) {
    width: 30px;
    min-width: 30px;
}

.info li span:nth-child(2) {
    color: #fff;
    margin-left: 10px;
    font-weight: 500;
}

.info li span img {
    max-width: 100%;
    filter: invert(1);
}

.social-links {
    display: flex;
}

.social-links a {
    width: 50px;
    height: 60px;
}

.col-items {
    margin: auto;
    padding: 0 10px;
}

#col-items1 {
    border-left: 1px solid #DCDCDC;
    padding-left: 55px;
}








/* RESPONSIVE */

@media (min-width:800px) {
    .dropdown:hover>.dropdown-menu {
        display: block;
    }

    .dropdown>.dropdown-toggle:active {
        /*Without this, clicking will make it sticky*/
        pointer-events: none;
    }
}

@media (max-width:1000px) {
    .headline {
        padding-left: 40px !important;
        padding-right: 40px !important;
    }

    .quote,
    .intro {
        text-align: justify !important;
    }

    .navbar-collapse {
        border-radius: 10px;
        margin: 10px 50px 20px !important;
        background-color: #35AF58 !important;
    }

    .dropdown {
        margin: 0px !important;
    }

    .nav-item {
        margin: 0;
    }

    .nav-link {
        padding: 10px !important;
        color: #ffffff !important;
        text-align: center !important;
    }

    .nav-link:hover {
        color: #005e11 !important;
    }

    .navbar-brand,
    .navbar-toggler {
        margin-top: 7%;
    }

    .d-block {
        position: absolute;
        visibility: hidden;
    }

    .sl {
        width: 100%;
        height: 250px;
    }

    /* .movingcard{
        height: 6500px;
    } */
    .card {
        width: 320px;
        height: 400px;
    }

    #Choose {
        margin-top: 135rem !important;
    }

    /* news */
    .one {
        margin: 0;
        padding: 0;
    }

    .mission {
        margin: 0;
    }


}


/* media queries for contact us*/
@media (max-width:1200px) {
    .cont {
        width: 90%;
        min-width: auto;
        margin: 20px;
    }

    .contactinfo {
        top: 0;
        height: 500px;
        position: relative;
        box-shadow: none;
    }

    .contact-form {
        position: relative;
        width: calc(100%-350px);
        padding-left: 0;
        margin-left: 0;
        padding: 40px;
        height: 550px;
        box-shadow: none;

    }
}

@media (max-width:991px) {
    .sec {
        background: #fff38e;
    }

    .sec::before {
        display: none;
    }

    .cont {
        display: flex;
        flex-direction: column-reverse;
    }

    .contact-form {
        width: 100%;
        height: auto;
    }

    .contactinfo {
        width: 100%;
        height: auto;
        flex-direction: row;
    }

    ul.icon {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width:991px) {
    .contact-form {
        padding: 25px;
    }

    .contactinfo {
        padding: 25px;
        flex-direction: column;
        align-items: flex-start;
    }

    ul.icon {
        margin-top: 40px;
    }

    .wmax {
        width: 100%;
    }
}



/* Media Queries-Footer */
@media (max-width:800px) {

    footer .container1 {
        flex-direction: column;
        padding: 20px 30px;
    }

    footer .menu-items {
        margin-left: 20px;
        margin-bottom: 20px;
    }

    footer #menu-items1 {
        display: block;
        padding: 30px 20px;
    }

    .stacked {
        height: 3rem;
        width: 15rem;
        font-weight: 100;
    }
}

@media (max-width:360px) {
    body {
        padding-top: 80px;
    }

    .stacked {
        height: 3rem;
        width: 12rem;
    }

    .contact-bar {
        display: none;
    }

    .navbar-brand,
    .navbar-toggler {
        margin-top: 0;
    }
}

@media (max-width:320px) {
    .stacked {
        height: 3rem;
        width: 8rem;
    }
}