
p{
  font-size: large;
  letter-spacing: .5px;
  line-height: 2rem;
}
h5{
  color: #666666;
  margin: 0rem;
}
#whatmakeunique h5{
  color: #666666;
  margin: 2rem;
}

.head-cl{
  position: absolute;
  left: 3rem;
  top: 18rem;
  padding: 10px;
  color: rgb(228, 228, 228);
  width: fit-content;
}
.top-head{
  font-family: 'Rufina', serif ;
  font-size: 3.5rem;
}
.boder{
  border-bottom:  4px solid rgba(38, 83, 138, 0.9);
  border-radius: 4px;
  width: 0px;
  opacity: 1;
  animation-name: yellowborder;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

@keyframes yellowborder{
  0%{
     width: 0px;
  }
  
  100%
  {
    width: 100%;
  }
}
.para-cl{
  color: white;
  position: absolute;
  left: 3rem;
  top: 20rem;
  font-size: 1.7rem;
  line-height: 3rem;
  text-align: left;
  width: 80%;
  margin-top: 4rem;
  font-family: 'Ubuntu';
}
.img-cl{
  height: 700px !important;
}
.clt{
  position: absolute;
  top: 20px;
  left: 12px;
  width: 100%;
  background-image:
          linear-gradient(to bottom,
            rgba(0, 0, 0, 0.466),
            rgb(0, 5, 24));
}
.align{
  text-align: center;
  color: #3f3f3f;
  margin: 4rem !important;
}

.btn{
  margin:.5rem 0 2rem !important;
}





/* event carousel */

.testimonial-slider {
    background-color: #5072a7;
    padding: 2em 2em 3em;
  }
  .testimonial-title {
    color: #fff;
  }
  .testimonial-title h2 {
    padding-left: 0.2em;
  }
  .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    height: 100%;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #fff;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    top: 60%;
    transform: translateY(-50%);
  }
  .uniquecards{
    height: fit-content;
  }
  .uniquecards__img{
    border-radius: 0%;
  }

  .intern{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ffffff;
    margin:3rem;
  
    border-radius: 4px;
  }
  .intern-para{
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.2rem;
    text-align: left;
  }
  .butn{
   margin-top: 1.3rem;
    background-color: #35AF58;
    color: #ffffff;
    border-radius: 4px;
    padding: 8px 20px;
    font-weight: 500;
    font-size: 1.2rem;
    font-family: "Montserrat";
    margin-bottom: 1rem;
  }
  .butn a{
    color: #ffffff;
  }
  .butn:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  


  /* Responsive */

  /* event carousel */

  @media (min-width: 576px) {
    .carousel-item {
      margin-right: 0;
      flex: 0 0 50%;
      display: block;
    }
    .carousel-inner {
      display: flex;
    }
  }
  @media (min-width: 768px) {
    .carousel-inner {
      padding: 1em;
    }
    .carousel-control-prev,
    .carousel-control-next {
      opacity: 1;
      position: absolute;
      left: 1em;
      top: 90%;
      transform: translateY(-50%);
    }
    .carousel-control-next {
      left: 5em;
    }
  }
  




  
/* responsive */

@media (min-width:990px) {
  .clt{
      height: 760px;

  }    
  .img-cl{
      width: 100%;
  }
}
@media (max-width:990px) {
  .img-cl{
      height: 280px !important;
      width: 100%;
  }
  .clt{
      margin-top: 80px;
      height: 280px;
  }
  .head-cl{
      top: 3rem;
  }
  .top-head{
    font-size: 1.7rem;
    margin: 0;
  }
  .para-cl{
      top: 1.8rem;
      font-weight: 100;
      font-size: 1.2rem;
      line-height: 1.5rem;
  }
}

@media (max-width:800px) {
  .align{
    margin: 1.5rem !important;
    padding: 0;
  }
  .int-btn{
    text-align: center;
  }
}
@media (max-width:360px){
  .clt{
    margin-top: 60px;
  }
}