* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html, body{
    overflow-x: hidden;
    width: 100%;
}
body{
    padding-top: 80px;
}
/* NAVBAR */
.navbar-brand {
    margin-right: auto;
    
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    padding: 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.477);
    background-color: white;
}

.navbar-nav {
    margin-left: auto;
    border-radius: 10px;
}

.collapse {
    margin-top: 20px;
}

.contact {
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 0;
    height: 30px;
    font-size: small;
    color: #000000;
    text-decoration: none;
}

.contact-ico {
    margin: 10px;
    height: 25px;
}

.phone {
    position: absolute;
    top: 0;
    right: 250px;
}

.mail {
    position: absolute;
    top: 0;
    right: 10px;
}

.logo {
    height: 70px;
    width: 227px;
    background-color: white;
    border-radius: 10px;
}

.logo:hover {
    background-color: rgb(236, 255, 235);
    border-radius: 10px;
}

.nav-item {
    border-radius: 10px;
    letter-spacing: 0.5px;
    margin: 0 50px 0 30px;
}

.nav-item:hover {
    border-radius: 10px;
}

/* .nav-item a:after { 
    content: ''; 
    position: absolute; 
    width: 0; 
    transform: scaleX(0); 
    height: 3px; 
    bottom: -10px; 
    left: 0; 
    background-color:#00ff26; 
    transform-origin: right; 
    transition: 0.3s ease-out; 
  } 
   
  .nav-item a:hover:after { 
      width: 100%; 
    transform: scaleX(1); 
    transform-origin:  left; 
  } */
.navbar-toggler {
    margin: 3% 0 0 2%;
    background-color: rgb(255, 255, 255);
}

.navbar-toggler:hover {
    background-color: #9f9f9f;
}

.dropdown-menu {
    background-color: #ffffff;
    border: none;
}

.dropdown-item {
    text-align: center;
    color: rgba(51, 49, 49, 0.853);
    background-color: #ffffff;
    border-radius: 10px;
    letter-spacing: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 40px;
}

.dropdown-item:hover {
    color: #35AF58;
    background-color: white;
    border-radius: 10px;
}


.nav-link , .navbar-nav .nav-link.active {
    padding: 0;
    text-align: center;
    font-weight: 500;
    border-radius: 10px;
    color: rgb(45, 45, 45);
}

.nav-link:hover , .navbar-nav .nav-link.active:hover {
    color: #35AF58;
}

/* HEADING */

.headline {
    padding-top: 50px;
    padding-left: 4em;
    font-family: 'Montserrat', serif;


}

.headline-quote {
    font-family: serif;
    text-align: left;
    color: #35AF58;
    font-weight: 400;
    font-size: 375%;

}

.intro {
    margin-top: 5%;
    text-align: left;
    color: #3a3a3a;
    font-size: 93.75%;
}

.quote {
    margin-top: 0%;
    font-size: 84%;
    font-weight: 300;
    text-align: left;
    color: #232323;
}

.by {
    text-align: right;
    font-size: 70%;
    margin-top: -10px;
    font-weight: 900;
    color: #074122;

}

/* CAROUSEL */

#carouselExampleDark {
    background-color: aliceblue;
}

.fslide {
    height: 500px;
    padding: 0;
    margin: 80px 0 0 80px;
}

.btn {
    margin: 5%;
    font-weight: 500;
}

.btn:hover {
    background-color: #35AF58;
}

.sl {
    width: 100%;
    height: 700px;
}

.slide-btn {
    width: 100px;
}

.carousel-dark .carousel-indicators [data-bs-target]{
    background-color: #13762d;
    margin: 0 20px 0;
    width: 50px;
    height: 3px;
    filter: opacity(0.7);
}
.carousel-indicators{
    z-index: 1;
}
.b-4, .b-5{
    width: 15px;
}

/* PRODUCT RANGE */

#movingcard {
    background-color: aliceblue;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
}

.cardss {
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    margin-top: 5rem;
    gap:6rem;

}

.pheading {
    font-family: 'Rufina', serif;
    color: #4b4c4b;
    text-align: center;
    font-size: 3rem;
    padding-top: 5rem;
    font-weight: 600;
}

.card--1 .card__img,
.card--1 .card__img--hover {
    background-image: url("../images/industry.jpg")
}

.card--2 .card__img,
.card--2 .card__img--hover {
    background-image: url("../images/smart.jpg");
}

.card--3 .card__img,
.card--3 .card__img--hover {
    background-image: url("../images/domestic.jpg");
}

.card--4 .card__img,
.card--4 .card__img--hover {
    background-image: url("../images/tower.jpg");
}

.card--5 .card__img,
.card--5 .card__img--hover {
    background-image: url("../images/hospital.jpeg");
}

.card--6 .card__img,
.card--6 .card__img--hover {
    background-image: url("../images/metro.jpg");
}

.card--7 .card__img,
.card--7 .card__img--hover {
    background-image: url("../images/commercial.jpg");
}

.card--8 .card__img,
.card--8 .card__img--hover {
    background-image: url("../images/mall.jpg");
}

.card__like {
    width: 18px;
}

.card__clock {
    width: 15px;
    vertical-align: middle;
    fill: #AD7D52;
}

.card__time {
    font-size: 12px;
    color: #AD7D52;
    vertical-align: middle;
    margin-left: 5px;
}

.card__clock-info {
    float: right;
}

.card__img {
    visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;

}

.card__info-hover {
    position: absolute;
    padding: 16px;
    width: 100%;
    opacity: 0;
    top: 0;
}

.card__img--hover {
    transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 235px;
    top: 0;
}

.cards {
    margin-right: 25px;
    transition: all .8s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
    width: 40%;
    position: relative;
    left: 0.5rem;
    border-radius: 12px;
    overflow: hidden;
    border-radius: 18px;
    border-radius: 18px;
    background: #ffffff;
    box-shadow: 13px 13px 4px #9f9797;
}

.cards:hover {
    box-shadow: 13px 13px 4px #858585;
    transform: scale(1.10, 1.10);
}

.card__info {
    z-index: 2;
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 16px 24px 24px 24px;
}

.card__category {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    text-align: left;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 30px;
    font-weight: 500;
    color: #2a2a2a;
}

.card__title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Rufina', serif;
}

.card__by {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.card__author {
    font-weight: 600;
    text-decoration: none;
    color: #AD7D52;
}

.cards:hover .card__info  {
    background-color: transparent;
    position: relative;
}

.cards:hover .card__info-hover {
    opacity: 1;
}


.pheading h1 {
    position: relative;
    bottom: 12rem;
}

/* WHCHOOSE US*/

.choose-quote {
    font-family: 'Rufina', serif;
    text-align: center;
    padding: 1rem 0;
    color: #4b4C4C;
    font-size: 3rem;
    font-weight: 600;
}

#Choose {
    background-color: #fafafa;
    text-align: center;
    padding-top: 4rem;
}

.choose-box {
    text-align: center;
    margin: 0%;
    color: #564f4f;
    border-radius: 5%;
    padding-left: 0%;
    padding-right: 0%;
    margin-bottom: 3%;
}

.fav {
    padding-top: 9%;
    padding-bottom: 7%;

}

.fav:hover {
    color: rgb(12, 98, 38);
}

.choose-mn-q {
    margin: 0;
    font-size: 1rem;
    text-align: center;
    color: rgb(55, 51, 51, 1);
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.choose-s-q {
    font-size: 0.9rem;
    letter-spacing: 0.3px;
    text-align: center;
    width: auto;
    padding:2rem 0.7rem;
    
    font-family: sans-serif;
}

/* What makes us unique ? */
#whatmakeunique{
    background-color: #fdfdfd;
}
.whatmakeunique {
    display: flex;
    justify-content: center;
    padding: 5rem 0 2rem;
    color: #4b4c4b;
    font-size: 3rem;
    font-family: 'Rufina', serif;
}

.unique {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.uniquecards {
    width: 20em;
    height: 30em;
    border-radius: 4px;
    box-shadow: 0 15px 35px rgba(50, 50, 90, .1), 0 5px 15px rgba(0, 0, 0, .07);
    transition: .6s ease;
    background: white;
    text-align: center;
    margin: 4rem;

}

.uniquecards:hover {
    box-shadow: 0 30px 50px rgba(50, 50, 90, .1), 0 8px 15px rgba(0, 0, 0, .07);
    transform: translateY(-2px);
}

img {
    max-width: 100%;
    max-height: 100%;
}

.uniquecards__img img {
    height: 200px;
}

.uniquecards h1 {
    font-size: 1.5rem;
    color: #303336;
    margin: 2vh 4vw;

}

p {
    padding: 1.2rem;
    text-align: center;
    padding-bottom: 1vh;
    color: rgb(73, 71, 71);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
}


.uniquecards__info {
    position: relative;
    top: 0.5rem;
}


/* NEWS */

.newshead {
    justify-content: center;
    padding: 5rem 0 2rem;
    color: #4b4c4b;
    font-size: 3.5em;
    font-family: 'Rufina', serif;
}

.newsbox {
    padding-top: 40px;
    background-color: #fafafa;
    width: 100%;
}

.img1 {
    height: 670px;
    padding-right: 30px;
    border-right: 2px solid rgb(209, 209, 209);
}

.link {
    text-decoration: none;
    color: #000000;
}

.top {
    font-size: 1.5rem;
    font-family: 'Rufina', serif;
}

.one {
    height: 800px;
    margin-left: 120px;
}

.two {
    margin-top: 1em;
}

.news {
    text-align: justify;
    padding: 10px;
    font-weight: 700;
    color: #2a2a2a;
    font-family: 'Rufina', serif;
}

.head1:hover,
.head2:hover,
.head3:hover {
    border-radius: 10px;
    text-decoration: underline;
}

.n1 {
    padding-left: 10px;
    margin-right: 30px;
}

.img2,
.img3 {
    width: 100%;
}

hr {
    margin: 5px;
}

/* OUR MISSION */

#ourmission {
    margin: 5rem 0 15rem;
}

.mission-on {
    display: flex;
}

.mission {

    display: flex;
    margin: auto;
    width: 40rem;
    height: 32rem;
    border-radius: 4px;
    box-shadow: 0 15px 35px rgba(50, 50, 90, .1), 0 5px 15px rgba(0, 0, 0, .07);
    transition: .6s ease;
    background: #35AF58;
    text-align: center;
    margin-left: 12rem;
    margin-top: 2rem;
}

.mission_info h1 {
    color: #fff;
    margin-top: 3rem;
    margin-left: 3rem;
    text-align: start;
    font-family: 'Rufina', serif;
}
.mission_info h2 {
    color: #fff;
    margin-top: 3rem;
    margin-left: 3rem;
    text-align: start;
}
.line {
    margin-top: 0;
    margin-left: 3rem;
}

.mission_info p {
    color: #fff;
    font-size: 1.1em;
    text-align: start;
    line-height: 2rem;
    padding: 5rem 10rem 5rem 5rem;
    margin-left: -2rem;
    margin-top: -3rem;

}

.fire {
    
    height: 32rem;
    width: 40rem;
    position: relative;
    right: 12rem;
    top: 12rem;


}

/* FOOTER SECTION */

.site-footer{
    background-color: #35AF58;
    padding: 10px 0;
}
.container1{
    display: flex;
    justify-content: center;
    font-size: 15px;
    line-height: 30px;
    margin-top: 10px;
    padding: 40px 100px;
}
.menu-items{
    margin: auto;
    padding: 20px 10px;
}
.menu-items h6
{
  color:white;
  font-size:30px;
}
.menu-items a{
    color: #f8f8ff;
    text-decoration: none;
}
.menu-items a:hover{
    color: #fff;
    opacity: 4;
}
.footer-links
{
  padding-left:0;
  list-style:none;
}
.footer-links li
{
  display:block
}
.footer-links a{
    color: #fff;
    font-size: 20px;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color: #DCDCDC;
  text-decoration:none;
}
.career-head{
    padding-top: 18px;
}
.media-head{
    padding-top: 18px;
}
#product1{
    transform: translateY(-28px);
}
#innovation-head{
    transform: translateY(-19px);
}
.Reachus-head{
    padding-top: 19px;
}
input{
    padding: 10px 12px;
    width: 250px;
    height: 48px;
}
.menu-items button{
    position: absolute;
    background: white;
    padding: 9px;
}
#menu-items1{
    border-left: 1px solid #DCDCDC ;
    padding-left: 55px;
    display: block;
}
.fot-link, .fot-elem{
    margin: 1em;
    text-decoration: none;
    color: #ffffff;
}
.fot-link{
    padding-left: 2em;
    border-left: 2px solid white;
}
.fot-link:hover{
    text-decoration: underline;
}
.info{
    position: relative;
    margin: 36px 0;
}
.info li{
    position: relative;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}
.info li span:nth-child(1){
    width: 30px;
    min-width: 30px;
}
.info li span:nth-child(2){
    color: #fff;
    margin-left: 10px;
    font-weight: 500;
}
.info li span img{
    max-width: 100%;
    filter: invert(1);
}
.social-links{
    display: flex;
    margin-top: 50px;
}
.social-links a{
    width: 50px;
    height: 60px;
}
.ft-ico:hover{
    filter: opacity(0.5);
}


.info {
    position: relative;
    margin: 20px 0;
}

.info li {
    position: relative;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}

.info li span:nth-child(1) {
    width: 30px;
    min-width: 30px;
}

.info li span:nth-child(2) {
    color: #fff;
    margin-left: 10px;
    font-weight: 500;
}

.info li span img {
    max-width: 100%;
    filter: invert(1);
}

.social-links {
    display: flex;
}

.social-links a {
    width: 50px;
    height: 60px;
}

.col-items {
    margin: auto;
    padding: 0 10px;
}

#col-items1 {
    border-left: 1px solid #DCDCDC;
    padding-left: 55px;
}





/* BOTTOM */
.footer {
    background-color: #13762d;
    padding: 5px;
    text-align: center;
}

.fot-link,
.fot-elem {
    margin: 1em;
    text-decoration: none;
    color: #ffffff;
}

.fot-link {
    padding-left: 2em;
    border-left: 2px solid white;
}

.fot-link:hover {
    text-decoration: underline;
}











/* RESPONSIVE */

 @media (min-width:990px) {
    .dropdown:hover>.dropdown-menu {
        display: block;
    }

    .dropdown>.dropdown-toggle:active {
        pointer-events: none;
    }
}   

@media (max-width:990px) {
    body{
        padding-top: 100px;
    }

    .headline-quote {
        padding-left: 30px;
        padding-right: 30px;
        font-size: 2rem;
    }

    .quote,
    .intro {
        display: none;
    }

    .sticky-top{
        position: fixed;
        width: 100%;
    }

    .navbar-collapse {
        border-radius: 10px;
        margin: 10px 50px 20px;
        background-color: #35AF58;
    }

    .dropdown {
        margin: 0px;
    }

    .nav-item {
        margin: 0;
    }

    .nav-link , .navbar-nav .nav-link.active {
        padding: 10px;
        color: #ffffff;
        text-align: center;
    }

    .nav-link:hover , .navbar-nav .nav-link.active:hover {
        color: #414141;
    }

    .navbar-brand,
    .navbar-toggler {
        margin-top: 20px;
    }


    .contact {
        font-size: 15px;
    }

    .phone {
        right: 180px;
        left: 20px;
    }

    .mail {
        right: 20px;
    }

    
    .hide{
        visibility: hidden;
    }

    .sl {
        width: 100%;
        height: 350px;
    }

    .pheading,
    .choose-quote,
    .whatmakeunique {
        font-size: xx-large;
    }



    /* news */
    .one {
        margin: 0 0 50px;
        padding: 0;
        height: 400px;
    }
    .two{
        padding: 0;
    }
    .head2 , .head3{
        margin: 0 0 50px;
    }
    .newsbox{
        width: 100%;
        margin: 0;
    }

    .img1,
    .img2,
    .img3 {
        border: none;
        padding: 0;
        width: 100%;
        height: 100%;

    }

    .top {
        text-decoration: underline;
    }

    .news {
        margin: 10px;
        text-align: center;
        font-weight: 400;
        font-size: 20px;
    }

    hr {
        visibility: hidden;
    }

    .fot-link,
    .fot-elem {
        font-size: 60%;
    }






   /* pdt range */



    .cards {
        width: 100%;
    }

    .card__category {
        text-align: left;
        font-size: 15px;
        letter-spacing: 1px;
        line-height: 30px;
        font-weight: 500;
        color: #2a2a2a;
    }


    .whatmakeunique {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        color: #4b4c4b;
        font-size: 2rem;
    }



    /* ourmsn */

    #ourmission{
        margin: 0 0 160px;
    }
    .mission{
        margin: 0 0 0 1.5rem;
        height: 180px;
    }
    .fire{
        top: 130px;
        right: 1.5rem;
        height: 180px;
    }
    .nodis{
        display: none;
    }
    .mission_info h2, .mission_info h1{
        margin: 10px;
    }

}




/* news */
@media screen and (min-width: 500px) and (max-width:600px) {
    /* news */
    .one{
        margin-bottom: 100px;
    }
}
@media screen and (min-width: 601px) and (max-width:700px) {
    /* news */
    .one{
        margin-bottom: 150px;
    }
}
@media screen and (min-width: 701px) and (max-width:800px) {
    /* news */
    .one{
        margin-bottom: 220px;
    }
}
@media screen and (min-width: 801px) and (max-width:900px) {
    /* news */
    .one{
        margin-bottom: 280px;
    }
}
@media screen and (min-width: 901px) and (max-width:993px) {
    /* news */
    .one{
        margin-bottom: 320px;
    }
}



/* Media Queries-Footer */
@media (max-width:800px){
    
    footer .container1{
        flex-direction: column;
        padding: 20px 30px;
    }
    
    footer .menu-items{
        margin-left: 20px;
        margin-bottom: 20px;
    }
    footer #menu-items1{
        display: block;
        padding: 30px 20px;
    }
    .stacked{
        height: 3rem;
        width: 15rem;
        font-weight: 100;
    }
}

@media (max-width:360px){
    body{
        padding-top: 80px;
    }
    .stacked{
        height: 3rem;
        width: 12rem;
    }
    .contact-bar{
        display: none;
    }
    .navbar-brand , .navbar-toggler{
        margin-top: 0;
    }
}
@media (max-width:320px){
    .stacked{
        height: 3rem;
        width: 8rem;
    }
}